.AgentList {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
}
.MapList2 {
    display: flex;
    justify-content: center;
} 